h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    font-weight: 700;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#239a1f ;
    --bs-btn-hover-border-color: black;
   
}